<!-- @format -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Showing the Topic</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="/css/customShow.css" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="/css/tailwind.css" />

  <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
  <!-- DBP_NOTES: CKEditor CDN is used to provide a rich text editor for the user to write the reply -->
</head>

<body>
  <!--Nav Container-->
  <div class="tw-relative tw-container tw-mx-auto tw-bg-transparent">
    <!--Flex Container for All Items-->
    <div class="tw-flex tw-items-center tw-justify-between">
      <!--Flex Container for Logo Menu-->
      <div class="tw-flex tw-items-center tw-space-x-20">
        <!--Logo-->
        <img src="/img/CuetForum.png" alt="logo" class="tw-w-28 tw-h-30 mx-6" />
        <!--Left Menu-->
        <div class="tw-hidden tw-space-x-8 tw-font-bold lg:tw-flex">
          <a href="/" class="tw-text-slate-500 hover:tw-text-gray-800">Home</a>
          <a href="#" class="tw-text-slate-500 hover:tw-text-gray-800">About Us</a>
          <!-- <a href="#" class="tw-text-slate-500 hover:tw-text-gray-800">Create Topic</a> -->
        </div>
      </div>

      <!--Right Button Menu-->
      <div class="tw-hidden tw-items-center tw-space-x-6 tw-font-bold tw-text-slate-500 lg:tw-flex">
        <% if (!username) { %>
          <a href="/login" class="hover:tw-text-gray-800">Login</a>
          <a href="/register"
            class="tw-bg-cyan tw-rounded-full tw-font-bold tw-text-white tw-px-8 tw-py-3 hover:tw-opacity-70">Register</a>
          <% } else { %>
            <a href="/topic"
              class="tw-bg-cyan tw-rounded-full tw-font-bold tw-text-white tw-px-8 tw-py-3 hover:tw-opacity-70">Create
              Topic</a>
            <ul>
              <li class="nav-item dropdown hover:tw-opacity-70">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <%= username %> &#9662;
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" name="LogOut" href="/logout">Logout</a>
                  </li>
                  <!--DBP_NOTES: a function which will end the session-->
                </ul>
              </li>
              <% } %>
            </ul>
      </div>

      <!--@todo Hamburger Menu-->
    </div>
    <!--@todo Mobile Menu-->
  </div>

  <div class="container tw-min-h-screen">
    <div class="row">
      <div class="col-md-8">
        <div class="main-col">
          <div class="block">
            <h1 class="pull-left"></h1>
            <div class="clearfix"></div>
            <hr>
            <ul id="topics">
              <li id="main-topic" class="topic topic">
                <div class="row">
                  <!--DBP_HIGHLIGHTES The row class is used to create a horizontal row of columns.-->
                  <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="user-info">
                      <img class="avatar pull-left hover:scale-105" src="/<%= user.avatar %>" />
                      <ul>
                        <li>
                          <strong>
                            <%= user.name %>
                          </strong>
                        </li>
                        <li><a href="#">Profile</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                    <div class="topic-content pull-right">

                      <!--DBP_HIGHLIGHTES  VVI , to show the ckeditor format , we have to use <%- %> instead of <%= %>-->

                      <%- user.about %>
                    </div>
                    <!-- DBP_HIGHLIGHTES Managing the Delete segment -->

                    <% if(username===user.username) { %>
                      <form action="/delete-profile/<%= user.username %>?_method=DELETE" method="POST">
                        <!-- DBP_NOTES If you want to use the method-override middleware to send a DELETE request from your form, you should use the _method=DELETE query parameter -->




                        <p><%= user.username %>???</p>

                        <!--DBP_HIGHLIGHTES using <a> instead of <button> will not submit the form when clicked-->
                        <button class="btn btn-error btn-xs sm:btn-sm md:btn-md">Delete</button>
                      </form>

                      <!-- DBP_HIGHLIGHTES Managing the Update segment -->
                      <!-- Here the problem may occur due to fetching the topic by title[space can be there]-->
                      <!-- So we will fetch by topic id [which comes from the database]-->
                      <!--DBP_NOTES Here we should not use button , because for navigating/getting to the page , we need href-->
                      <a href="/update-profile/<%= user.username %>">
                        <button class="btn btn-warning btn-xs sm:btn-sm md:btn-md">Update</button>
                        </form>
                        <% } %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="sidebar">
					<div class="block">
						<h3 style="margin-left: 5px; padding-top: 5px;">Categories</h3>
						<div class="list-group block ">
							<a href="#" class="list-group-item active">All Topics <span
									class="text-2xl text-slate-50 size-8 color badge pull-right text-2xl tw-bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right animate-pulse"><%= count_all_topic %></span></a>
							<!-- <a href="#" class="list-group-item">Software<span class="color badge pull-right text-2xl bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right">5</span></a>
							<a href="#" class="list-group-item">AI<span
									class="color badge pull-right text-2xl bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right">9</span></a>
							<a href="#" class="list-group-item"> Cyber Security <span
									class="color badge pull-right text-2xl bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right">12</span></a>
							<a href="#" class="list-group-item">Data Science<span
									class="color badge pull-right text-2xl bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right">7</span></a>
							<a href="#" class="list-group-item">Cloud & Hosting <span
									class="color badge pull-right text-2xl bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right">3</span></a> -->

							<% categories.forEach(category => { %>
								<a href="/category/<%= category.name %>"  class="list-group-item">
									<%= category.name %> <span class="text-3xl text-slate-50 size-8 color badge pull-right text-2xl bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right animate-pulse"> <%= category.count_category %>  </span>
								</a>
							<% }); %>
						</div>
					</div>

					<div class="block" style="margin-top: 20px;">
						<h3 class="margin-top: 40px">User Statistics</h3>
						<div class="list-group">
							<a href="#" class="list-group-item"><%= user.name %>'s Topics:<span
									class="color badge pull-right text-3xl bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right"><%= count_all_topic %></span></a>
							<a href="#" class="list-group-item"><%= user.name %>'s Replies: <span
									class="color badge pull-right text-3xl bg-slate-800 text-white opacity-95 size-8 color badge pull-right animate-pulse badge pull-right"><%= count_all_replies %></span></a>

						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
  </body>
  <!-- /.container -->
</body>

</html>